*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: #2F3035;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.contanier{
    margin:auto;
    max-width: 70%;
}

header{
    height: 687.5%;
    text-align: center;
}
header h1{
    font-family: serif;
    font-size: 3.125em;
    color:rgb(235, 43, 235);
}
nav {
    background-color:rgba(0,0,0,0.800);
    text-align: center;
    margin: 30px 0;
    /* padding-top: 300px 0; */
   
}
main{
    text-align: center;
    /* margin: auto; */
    /* padding: 0px 240px 20px;    */
    
}

main p {
	background-color:rgba(0,0,0,0.800);
	padding : 20px;
    font-family: 'Literata', serif;
    max-width: 60%;
    margin: auto;

}
footer{
    background-color: rgba(0,0,0,0.728);
    height: 5%;
    padding: 30px 0px;
}
h1, p, a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    font-size: 5.25em;
}
p{
    font-size: 1.125em;
}

a:hover{
    background-color: rgb(51, 50, 50);
}
nav a{
    text-decoration: none;
    font-size: 0.75em;
    display:inline-block;
    padding: 10px;
    /* font: 0/0 a; */
}
nav a:hover{
    background-color: purple;
}
main a{
    text-decoration: none;
    display: inline-block;
    background-color: purple;
    padding: 10px;
}

footer p{
    font-size: 0.75em; 
    text-align: center;
    color: white;
}

section{
    margin: 10px 0px;
}

.maps{
    width: 100%;
    margin: auto;
}