*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    /* width: 100%; */
    /* background: linear-gradient(#800080,#faede5); */
}

body{
    /* background: rgb(233, 82, 233); */
    background-color: #2F3035;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.contanier{
    margin:auto;
    max-width: 70%;
}

header{
    /* height: 687.5%; */
    text-align: center;
    padding-top: 30px;
}
header h1{
    font-family: serif;
    font-size: 3.125em;
    color:rgb(231, 77, 231);
}
nav {
    background-color:rgba(0,0,0,0.800);
    text-align: center;
    margin: 30px 0;
}

nav a{
    text-decoration: none;
    font-size: 0.75em;
    display:inline-block;
    padding: 10px 5px;
}
nav a:hover{
    background-color: purple;
}
main{
    text-align: center;
    /* margin: auto; */
    /* padding: 0px 240px 20px;    */
}

main p {
	background-color:rgba(0,0,0,0.800);
	padding : 20px;
    font-family: 'Literata', serif;
    max-width: 60%;
    margin: 30px auto;
}

main a{
    text-decoration: none;
    display: inline-block;
    background-color: purple;
    padding: 10px;
}

main a:hover{
    background-color: rgb(51, 50, 50);
}

h1, p, a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    font-size: 5.25em;
}
p{
    font-size: 1.125em;
}

section{
    margin: 10px 0px;
}

.maps{
    width: 100%;
    margin: auto;
}

footer{
    background-color: rgba(0,0,0,0.728);
    height: 5%;
    padding: 30px 0px;
}

footer p{
    font-size: 0.75em; 
    text-align: center;
    color: white;
}

/* Responsive style */

@media screen and (min-width: 1300px) {
    nav {
            padding: 15px 0;  
    }
    nav a {
            width: 12%;
    }
}

@media screen and (max-width:560px) {
    .contanier{
        max-width: 90%;
    }

    nav a{
        padding: 10px;
    }

    main p {
        max-width: 70%;
        padding : 15px;
    }
   main h1{
        font-size: 3.25em;
    }
   header h1 {
     font-size: 2.125em;
   }
}

